//
//  Config.xcconfig
//  WhatILearned
//
//  Created by Ghadirian, Hamed, HSE DE on 03.12.23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// https://medium.com/@nishant.kumbhare4/working-with-the-xcode-configuration-xcconfig-file-75418d1554af

